<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CorpusFactory in web</title>
</head>
<body>
    <h1>CorpusFactory in web</h1>
    <div>
        <fieldset>
            <legend>Raw text file loading</legend>
            <form action="/ldfiles/raw?type=raw" method="POST" enctype="multipart/form-data">
                Select corpus: <input type="file" name="raw">
                <input type="submit">
            </form>
            {% if cor_msg %}
                <p>{{ cor_msg }}</p>
            {% endif %}
            <br>
            <form action="/ldfiles/raw?type=cont" method="POST" enctype="multipart/form-data">
                Select contents: <input type="file" name="cont" multiple>
                <input type="submit">
            </form>
            {% if cont_msg %}
                <p>{{ cont_msg }}</p>
            {% endif %}
        </fieldset>
    </div><br>
    {% extends 'makeyml.html' %}
</body>
</html>